body {
     font-family: 'nexa'; Helvetica: Arial, Lucida, sans-serif !important;
 }

@font-face {
    font-family: 'nexa light';
    font-display: auto;

    src: local('nexa light'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalight-webfont.eot');
    src: local('nexa light'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalight-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa light'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalight-webfont.woff2') format('woff2'),
        local('nexa light'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalight-webfont.woff') format('woff'),
        local('nexa light'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalight-webfont.ttf') format('truetype'),
        local('nexa light'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalight-webfont.svg#nexalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa light italic';
    font-display: auto;

    src: local('nexa light italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalightitalic-webfont.eot');
    src: local('nexa light italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalightitalic-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa light italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalightitalic-webfont.woff2') format('woff2'),
        local('nexa light italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalightitalic-webfont.woff') format('woff'),
        local('nexa light italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalightitalic-webfont.ttf') format('truetype'),
        local('nexa light italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexalightitalic-webfont.svg#nexalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Nexa Book*/
@font-face {
    font-family: 'nexa book';
    font-display: auto;

    src: local('nexa book'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabook-webfont.eot');
    src: local('nexa book'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabook-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa book'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabook-webfont.woff2') format('woff2'),
        local('nexa book'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabook-webfont.woff') format('woff'),
        local('nexa book'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabook-webfont.ttf') format('truetype'),
        local('nexa book'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabook-webfont.svg#nexabook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa book italic';
    font-display: auto;

    src: local('nexa book italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabookitalic-webfont.eot');
    src: local('nexa book italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabookitalic-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa book italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabookitalic-webfont.woff2') format('woff2'),
        local('nexa book italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabookitalic-webfont.woff') format('woff'),
        local('nexa book italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabookitalic-webfont.ttf') format('truetype'),
        local('nexa book italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabookitalic-webfont.svg#nexabook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Nexa Regular */
@font-face {
    font-family: 'nexa';
    font-display: auto;

    src: local('nexa'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-webfont.eot');
    src: local('nexa'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-webfont.woff2') format('woff2'),
        local('nexa'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-webfont.woff') format('woff'),
        local('nexa'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-webfont.ttf') format('truetype'),
        local('nexa'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-webfont.svg#nexaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa italic';
    font-display: auto;

    src: local('nexa italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-regularitalic-webfont.eot');
    src: local('nexa italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-regularitalic-webfont.woff2') format('woff2'),
        local('nexa italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-regularitalic-webfont.woff') format('woff'),
        local('nexa italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-regularitalic-webfont.ttf') format('truetype'),
        local('nexa italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexa-regularitalic-webfont.svg#nexaregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Nexa Bold*/
@font-face {
    font-family: 'nexa bold';
    font-display: auto;

    src: local('nexa bold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabold-webfont.eot');
    src: local('nexa bold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabold-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa bold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabold-webfont.woff2') format('woff2'),
        local('nexa bold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabold-webfont.woff') format('woff'),
        local('nexa bold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabold-webfont.ttf') format('truetype'),
        local('nexa bold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabold-webfont.svg#nexabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa bold italic';
    font-display: auto;

    src: local('nexa bold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabolditalic-webfont.eot');
    src: local('nexa bold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa bold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabolditalic-webfont.woff2') format('woff2'),
        local('nexa bold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabolditalic-webfont.woff') format('woff'),
        local('nexa bold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabolditalic-webfont.ttf') format('truetype'),
        local('nexa bold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexabolditalic-webfont.svg#nexabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Nexa XBold*/
@font-face {
    font-family: 'nexa xbold';
    font-display: auto;

    src: local('nexa xbold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbold-webfont.eot');
    src: local('nexa xbold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbold-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa xbold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbold-webfont.woff2') format('woff2'),
        local('nexa xbold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbold-webfont.woff') format('woff'),
        local('nexa xbold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbold-webfont.ttf') format('truetype'),
        local('nexa xbold'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbold-webfont.svg#nexabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa xbold italic';
    font-display: auto;

    src: local('nexa xbold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbolditalic-webfont.eot');
    src: local('nexa xbold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa xbold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbolditalic-webfont.woff2') format('woff2'),
        local('nexa xbold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbolditalic-webfont.woff') format('woff'),
        local('nexa xbold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbolditalic-webfont.ttf') format('truetype'),
        local('nexa xbold italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaxbolditalic-webfont.svg#nexabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Nexa Black */
@font-face {
    font-family: 'nexa black';
    font-display: auto;

    src: local('nexa black'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablack-webfont.eot');
    src: local('nexa black'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablack-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa black'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablack-webfont.woff2') format('woff2'),
        local('nexa black'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablack-webfont.woff') format('woff'),
        local('nexa black'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablack-webfont.ttf') format('truetype'),
        local('nexa black'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablack-webfont.svg#nexablack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa black italic';
    font-display: auto;

    src: local('nexa black italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablackitalic-webfont.eot');
    src: local('nexa black italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablackitalic-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa black italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablackitalic-webfont.woff2') format('woff2'),
        local('nexa black italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablackitalic-webfont.woff') format('woff'),
        local('nexa black italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablackitalic-webfont.ttf') format('truetype'),
        local('nexa black italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexablackitalic-webfont.svg#nexablack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Nexa Heavy*/
@font-face {
    font-family: 'nexa heavy';
    font-display: auto;

    src: local('nexa heavy'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavy-webfont.eot');
    src: local('nexa heavy'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavy-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa heavy'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavy-webfont.woff2') format('woff2'),
        local('nexa heavy'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavy-webfont.woff') format('woff'),
        local('nexa heavy'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavy-webfont.ttf') format('truetype'),
        local('nexa heavy'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavy-webfont.svg#nexaheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa heavy italic';
    font-display: auto;

    src: local('nexa heavy italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavyitalic-webfont.eot');
    src: local('nexa heavy italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
        local('nexa heavy italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavyitalic-webfont.woff2') format('woff2'),
        local('nexa heavy italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavyitalic-webfont.woff') format('woff'),
        local('nexa heavy italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavyitalic-webfont.ttf') format('truetype'),
        local('nexa heavy italic'), url('https://www.buyfrontiernow.com/wp-content/themes/buy-frontier-now/webFonts/nexa/nexaheavyitalic-webfont.svg#nexaheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* avenir light */
@font-face {
    font-family: 'avenir light';
    font-display: auto;

    src: local('avenir light'), url('avenir/AvenirLT-Light.eot');
    src: local('avenir light'), url('avenir/AvenirLT-Light.eot?#iefix') format('embedded-opentype'),
        local('avenir light'), url('avenir/AvenirLT-Light.woff2') format('woff2'),
        local('avenir light'), url('avenir/AvenirLT-Light.woff') format('woff'),
        local('avenir light'), url('avenir/AvenirLT-Light.ttf') format('truetype'),
        local('avenir light'), url('avenir/AvenirLT-Light.svg#AvenirLT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir light italic';
    font-display: auto;

    src: local('avenir light italic'), url('avenir/AvenirLT-LightOblique.eot');
    src: local('avenir light italic'), url('avenir/AvenirLT-LightOblique.eot?#iefix') format('embedded-opentype'),
        local('avenir light italic'), url('avenir/AvenirLT-LightOblique.woff2') format('woff2'),
        local('avenir light italic'), url('avenir/AvenirLT-LightOblique.woff') format('woff'),
        local('avenir light italic'), url('avenir/AvenirLT-LightOblique.ttf') format('truetype'),
        local('avenir light italic'), url('avenir/AvenirLT-LightOblique.svg#AvenirLT-LightOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* avenir book */
@font-face {
    font-family: 'avenir book';
    font-display: auto;

    src: local('avenir book'), url('avenir/AvenirLT-Book.eot');
    src: local('avenir book'), url('avenir/AvenirLT-Book.eot?#iefix') format('embedded-opentype'),
        local('avenir book'), url('avenir/AvenirLT-Book.woff2') format('woff2'),
        local('avenir book'), url('avenir/AvenirLT-Book.woff') format('woff'),
        local('avenir book'), url('avenir/AvenirLT-Book.ttf') format('truetype'),
        local('avenir book'), url('avenir/AvenirLT-Book.svg#AvenirLT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir book italic';
    font-display: auto;

    src: local('avenir book italic'), url('avenir/AvenirLT-BookOblique.eot');
    src: local('avenir book italic'), url('avenir/AvenirLT-BookOblique.eot?#iefix') format('embedded-opentype'),
        local('avenir book italic'), url('avenir/AvenirLT-BookOblique.woff2') format('woff2'),
        local('avenir book italic'), url('avenir/AvenirLT-BookOblique.woff') format('woff'),
        local('avenir book italic'), url('avenir/AvenirLT-BookOblique.ttf') format('truetype'),
        local('avenir book italic'), url('avenir/AvenirLT-BookOblique.svg#AvenirLT-BookOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* avenir regular */
@font-face {
    font-family: 'avenir';
    font-display: auto;

    src: local('avenir'), url('avenir/AvenirLT-Roman.eot');
    src: local('avenir'), url('avenir/AvenirLT-Roman.eot?#iefix') format('embedded-opentype'),
        local('avenir'), url('avenir/AvenirLT-Roman.woff2') format('woff2'),
        local('avenir'), url('avenir/AvenirLT-Roman.woff') format('woff'),
        local('avenir'), url('avenir/AvenirLT-Roman.ttf') format('truetype'),
        local('avenir'), url('avenir/AvenirLT-Roman.svg#AvenirLT-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir italic';
    font-display: auto;

    src: local('avenir italic'), url('avenir/AvenirLT-Oblique.eot');
    src: local('avenir italic'), url('avenir/AvenirLT-Oblique.eot?#iefix') format('embedded-opentype'),
        local('avenir italic'), url('avenir/AvenirLT-Oblique.woff2') format('woff2'),
        local('avenir italic'), url('avenir/AvenirLT-Oblique.woff') format('woff'),
        local('avenir italic'), url('avenir/AvenirLT-Oblique.ttf') format('truetype'),
        local('avenir italic'), url('avenir/AvenirLT-Oblique.svg#AvenirLT-Oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* avenir medium */
@font-face {
    font-family: 'avenir medium';
    font-display: auto;

    src: local('avenir medium'), url('avenir/AvenirLT-Medium.eot');
    src: local('avenir medium'), url('avenir/AvenirLT-Medium.eot?#iefix') format('embedded-opentype'),
        local('avenir medium'), url('avenir/AvenirLT-Medium.woff2') format('woff2'),
        local('avenir medium'), url('avenir/AvenirLT-Medium.woff') format('woff'),
        local('avenir medium'), url('avenir/AvenirLT-Medium.ttf') format('truetype'),
        local('avenir medium'), url('avenir/AvenirLT-Medium.svg#AvenirLT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir medium italic';
    font-display: auto;

    src: local('avenir medium italic'), url('avenir/AvenirLT-MediumOblique.eot');
    src: local('avenir medium italic'), url('avenir/AvenirLT-MediumOblique.eot?#iefix') format('embedded-opentype'),
        local('avenir medium italic'), url('avenir/AvenirLT-MediumOblique.woff2') format('woff2'),
        local('avenir medium italic'), url('avenir/AvenirLT-MediumOblique.woff') format('woff'),
        local('avenir medium italic'), url('avenir/AvenirLT-MediumOblique.ttf') format('truetype'),
        local('avenir medium italic'), url('avenir/AvenirLT-MediumOblique.svg#AvenirLT-MediumOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* avenir heavy */
@font-face {
    font-family: 'avenir heavy';
    font-display: auto;

    src: local('avenir heavy'), url('avenir/AvenirLT-Heavy.eot');
    src: local('avenir heavy'), url('avenir/AvenirLT-Heavy.eot?#iefix') format('embedded-opentype'),
        local('avenir heavy'), url('avenir/AvenirLT-Heavy.woff2') format('woff2'),
        local('avenir heavy'), url('avenir/AvenirLT-Heavy.woff') format('woff'),
        local('avenir heavy'), url('avenir/AvenirLT-Heavy.ttf') format('truetype'),
        local('avenir heavy'), url('avenir/AvenirLT-Heavy.svg#AvenirLT-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir heavy italic';
    font-display: auto;

    src: local('avenir heavy italic'), url('avenir/AvenirLT-HeavyOblique.eot');
    src: local('avenir heavy italic'), url('avenir/AvenirLT-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        local('avenir heavy italic'), url('avenir/AvenirLT-HeavyOblique.woff2') format('woff2'),
        local('avenir heavy italic'), url('avenir/AvenirLT-HeavyOblique.woff') format('woff'),
        local('avenir heavy italic'), url('avenir/AvenirLT-HeavyOblique.ttf') format('truetype'),
        local('avenir heavy italic'), url('avenir/AvenirLT-HeavyOblique.svg#AvenirLT-HeavyOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* avenir black */
@font-face {
    font-family: 'avenir black';
    font-display: auto;

    src: local('avenir black'), url('avenir/AvenirLT-Black.eot');
    src: local('avenir black'), url('avenir/AvenirLT-Black.eot?#iefix') format('embedded-opentype'),
        local('avenir black'), url('avenir/AvenirLT-Black.woff2') format('woff2'),
        local('avenir black'), url('avenir/AvenirLT-Black.woff') format('woff'),
        local('avenir black'), url('avenir/AvenirLT-Black.ttf') format('truetype'),
        local('avenir black'), url('avenir/AvenirLT-Black.svg#AvenirLT-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir black italic';
    font-display: auto;

    src: local('avenir black italic'), url('avenir/AvenirLT-BlackOblique.eot');
    src: local('avenir black italic'), url('avenir/AvenirLT-BlackOblique.eot?#iefix') format('embedded-opentype'),
        local('avenir black italic'), url('avenir/AvenirLT-BlackOblique.woff2') format('woff2'),
        local('avenir black italic'), url('avenir/AvenirLT-BlackOblique.woff') format('woff'),
        local('avenir black italic'), url('avenir/AvenirLT-BlackOblique.ttf') format('truetype'),
        local('avenir black italic'), url('avenir/AvenirLT-BlackOblique.svg#AvenirLT-BlackOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fr-light {
	font-family: 'nexa light';
}

.fr-bold {
	font-family: 'nexa xbold';
}

.fr-black {
	font-family: 'nexa black';
}
 
 h1 { font-size: 56px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h1 {
		font-size: 36px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h2 { font-size: 44px; margin: 0px!important; }
  @media screen and (max-width: 576px) {
	h2 {
		font-size: 32px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h3 { font-size: 36px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h3 {
		font-size: 26px !important;
		margin: 0px !important;
	}
 }

 h4 { font-size: 30px; margin: 0px!important; }
 @media screen and (max-width: 576px) {
	h4 {
		font-size: 26px !important;
		margin: 0px !important;
		font-weight: bold !important;
	}
 }

 h5 { font-size: 22px; margin: 0px!important; }

  @media screen and (max-width: $sm-min) {
	h5 {
		font-size: 18px !important;
		margin: 0px !important;
	}
 }

 .text-gc { 
    font-size: 30px; line-height: 1; 
 }

 @media screen and (max-width: 1200px) {
    .text-gc {
        font-size: 26px;
    }
 }

  @media screen and (max-width: 600px) {
    .text-gc {
        font-size: 16px;
    }
 }

 @media screen and (max-width: 320px) {
    .text-gc {
        font-size: 14px;
    }
 }

 .text-gcCart { font-size: 18px; line-height: 1!important; }

 @media screen and (max-width: 980px) {
    .text-gcCart {
        font-size: 18px;
    }
 }

 @media screen and (max-width: 320px) {
    .text-gcCart {
        font-size: 15px;
    }
 }
 
 .text-disc { font-size: 16px; line-height: 1!important; }
 .text-small { font-size: 14px!important;}
 .text-footer { font-size: 12px; line-height: 1.5!important; }
 .text-xsmall { font-size: 12px!important;}
 .text-options { line-height: 1.2!important; }
 .text-cents { font-size: 25px;vertical-align: super !important;}


 /* Text */
// Contextual colors

.text-huge { font-family: 'avenir black', Helvetica, Arial, Lucida, sans-serif !important; font-size: 80px; margin: 0px!important; line-height: 1!important; }

@media screen and (max-width: $md-min) {
    .text-huge {
        font-size: 72px !important;
        margin: 0px !important;
    }
 }

@media screen and (max-width: $sm-min) {
	.text-huge {
		font-size: 48px !important;
		margin: 0px !important;
	}
 }

.text-white { color: $white !important; }
.text-primary { color: $frprimary !important; }
.text-fr-red { color: $frred !important; }
.text-fr-blue { color: $frblue !important; }
.text-fr-darkblue { color: $frdarkblue !important; }
.text-fr-light { color: $frlight !important; }
.text-fr-grey { color: $frgrey !important; }
.text-fr-marigold { color: $frmarigold !important; }


::-webkit-input-placeholder { /* Edge */
  color: $frlight!important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $frlight!important;
}

::placeholder {
  color: $frlight!important;
}

sup {
    top: -0.7em;
}
sub, sup {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

